In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
from datetime import datetime

In [2]:
path = '/Users/sanjayagrawal/Downloads/'
data1 = pd.read_csv(path + 'instacart_data.csv')
products = list(data1['product_id'].unique())

# products_lookup = pd.DataFrame(products)
# products_lookup.columns = ['product_id']
# products_lookup = products_lookup.sort_values('product_id').reset_index(drop=True)
# products_lookup['index'] = ['product'+str(i) for i in range(1, len(products) + 1)]
# products_index = list(products_lookup['index'])

# data1 = data1.merge(products_lookup, on = 'product_id', how = 'inner').drop('product_id', axis=1)

# data1.head()
# print (products_lookup)
# print (products_index)

In [11]:
data_prod = data1.groupby(['order_id'])['product_id'].apply(list).reset_index()
data_pred = data1.groupby(['order_id'])['prediction'].apply(list).reset_index()
data = data_prod.merge(data_pred, on='order_id', how = 'inner')
data.head(2)

   order_id product_id         prediction
0       414    [41290]   [0.055007642703]
1       517     [7751]  [0.0165102817916]

In [19]:
data['tuple1'] = data.apply(lambda x : list(zip(x['product_id'], x['prediction'])), axis=1)
data.head(2)

   order_id product_id         prediction                     tuple1
0       414    [41290]   [0.055007642703]  [(41290, 0.055007642703)]
1       517     [7751]  [0.0165102817916]  [(7751, 0.0165102817916)]

In [21]:
data['dict1'] = data['tuple1'].map(lambda x : {i[0]:i[1] for i in x})
data.head(50)

,order_id,product_id,prediction,tuple1,dict1
0,414,[41290],[0.055007642703],"[(41290, 0.055007642703)]",{41290: 0.055007642703}
1,517,[7751],[0.0165102817916],"[(7751, 0.0165102817916)]",{7751: 0.0165102817916}
2,887,[41290],[0.336948288358],"[(41290, 0.336948288358)]",{41290: 0.336948288358}
3,1802,[7751],[0.0729514770188],"[(7751, 0.0729514770188)]",{7751: 0.0729514770188}
4,2297,[7751],[0.027576557194],"[(7751, 0.027576557194)]",{7751: 0.027576557194}
5,2345,[41290],[0.225860355769],"[(41290, 0.225860355769)]",{41290: 0.225860355769}
6,3507,[7751],[0.0814158315748],"[(7751, 0.0814158315748)]",{7751: 0.0814158315748}
7,4353,"[44635, 7751]","[0.0199773646459, 0.151244680191]","[(44635, 0.0199773646459), (7751, 0.1512446801...","{44635: 0.0199773646459, 7751: 0.151244680191}"
8,4372,[7751],[0.0337766124183],"[(7751, 0.0337766124183)]",{7751: 0.0337766124183}
9,4458,"[196, 33198]","[0.0722181125722, 0.0400615139198]","[(196, 0.0722181125722), (33198, 0.04006151391...","{196: 0.0722181125722, 33198: 0.0400615139198}"
10,4462,[196],[0.117351786823],"[(196, 0.117351786823)]",{196: 0.117351786823}
11,5011,"[26878, 25783]","[0.0412185913033, 0.0194867201307]","[(26878, 0.0412185913033), (25783, 0.019486720...","{26878: 0.0412185913033, 25783: 0.0194867201307}"
12,5349,[196],[0.0730334674786],"[(196, 0.0730334674786)]",{196: 0.0730334674786}
13,5415,"[196, 33198]","[0.585503257216, 0.150623578455]","[(196, 0.585503257216), (33198, 0.150623578455)]","{196: 0.585503257216, 33198: 0.150623578455}"
14,6073,[196],[0.216010261764],"[(196, 0.216010261764)]",{196: 0.216010261764}
15,6100,[196],[0.515120821241],"[(196, 0.515120821241)]",{196: 0.515120821241}
16,6490,[41290],[0.0294641681384],"[(41290, 0.0294641681384)]",{41290: 0.0294641681384}
17,6645,"[7751, 196]","[0.101619138551, 0.754631321949]","[(7751, 0.101619138551), (196, 0.754631321949)]","{7751: 0.101619138551, 196: 0.754631321949}"
18,8041,[7751],[0.00996105814565],"[(7751, 0.00996105814565)]",{7751: 0.00996105814565}
19,8450,[25783],[0.0851824651401],"[(25783, 0.0851824651401)]",{25783: 0.0851824651401}
20,8514,[7751],[0.0379934963749],"[(7751, 0.0379934963749)]",{7751: 0.0379934963749}
21,8876,"[27407, 33198]","[0.0469997147517, 0.398287778146]","[(27407, 0.0469997147517), (33198, 0.398287778...","{27407: 0.0469997147517, 33198: 0.398287778146}"
22,9391,[17330],[0.216805299327],"[(17330, 0.216805299327)]",{17330: 0.216805299327}
23,9427,"[7751, 25783]","[0.0236958842162, 0.0288960546021]","[(7751, 0.0236958842162), (25783, 0.0288960546...","{7751: 0.0236958842162, 25783: 0.0288960546021}"
24,10338,[7751],[0.0153416140754],"[(7751, 0.0153416140754)]",{7751: 0.0153416140754}
25,10620,[41290],[0.0297402662689],"[(41290, 0.0297402662689)]",{41290: 0.0297402662689}
26,11326,[41290],[0.00789943512092],"[(41290, 0.00789943512092)]",{41290: 0.00789943512092}
27,11697,[196],[0.158304698914],"[(196, 0.158304698914)]",{196: 0.158304698914}
28,13250,[41290],[0.100929509028],"[(41290, 0.100929509028)]",{41290: 0.100929509028}
29,13471,[196],[0.844932081184],"[(196, 0.844932081184)]",{196: 0.844932081184}
30,13533,[196],[0.68746357927],"[(196, 0.68746357927)]",{196: 0.68746357927}
31,13545,[196],[0.419555970486],"[(196, 0.419555970486)]",{196: 0.419555970486}
32,13715,"[44635, 7751]","[0.0164479016314, 0.247678204118]","[(44635, 0.0164479016314), (7751, 0.2476782041...","{44635: 0.0164479016314, 7751: 0.247678204118}"
33,13879,[7751],[0.0687440910568],"[(7751, 0.0687440910568)]",{7751: 0.0687440910568}
34,14098,[41290],[0.03277332864],"[(41290, 0.03277332864)]",{41290: 0.03277332864}
35,14124,[41290],[0.279517180223],"[(41290, 0.279517180223)]",{41290: 0.279517180223}
36,14369,"[7751, 41290]","[0.0258638618378, 0.0557219204052]","[(7751, 0.0258638618378), (41290, 0.0557219204...","{7751: 0.0258638618378, 41290: 0.0557219204052}"
37,14484,[41290],[0.0453111165309],"[(41290, 0.0453111165309)]",{41290: 0.0453111165309}
38,14850,[196],[0.0457733730755],"[(196, 0.0457733730755)]",{196: 0.0457733730755}
39,14994,[41290],[0.0337805586087],"[(41290, 0.0337805586087)]",{41290: 0.0337805586087}
40,15028,[7751],[0.0377800025567],"[(7751, 0.0377800025567)]",{7751: 0.0377800025567}
41,15067,[7751],[0.073453834943],"[(7751, 0.073453834943)]",{7751: 0.073453834943}
42,15447,[196],[0.0613557891595],"[(196, 0.0613557891595)]",{196: 0.0613557891595}
43,15804,[196],[0.336370525732],"[(196, 0.336370525732)]",{196: 0.336370525732}
44,15888,[196],[0.875830488381],"[(196, 0.875830488381)]",{196: 0.875830488381}
45,15928,[7751],[0.0151705989822],"[(7751, 0.0151705989822)]",{7751: 0.0151705989822}
46,16295,[25783],[0.0306121214466],"[(25783, 0.0306121214466)]",{25783: 0.0306121214466}
47,17474,[7751],[0.053208982241],"[(7751, 0.053208982241)]",{7751: 0.053208982241}
48,18156,[7751],[0.0440007226035],"[(7751, 0.0440007226035)]",{7751: 0.0440007226035}
49,18967,[27407],[0.142605067068],"[(27407, 0.142605067068)]",{27407: 0.142605067068}

In [32]:
# products_lookup = products_lookup.sort_values('product_id').reset_index(drop=True)
data.head()

product_id,order_id,196,7751,17330,23020,25783,26878,27407,33198,35419,41290,44635
0,414,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.055008,0.0
1,517,0.0,0.016510,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
2,887,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.336948,0.0
3,1802,0.0,0.072951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
4,2297,0.0,0.027577,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0

In [48]:
# products.sort()
print (products)

products1 = [str(i) for i in products]
products1 = list(products1)
print (products1)

[196, 7751, 17330, 23020, 25783, 26878, 27407, 33198, 35419, 41290, 44635]
['196', '7751', '17330', '23020', '25783', '26878', '27407', '33198', '35419', '41290', '44635']

In [22]:
# data = data1.pivot(index = 'order_id', columns = 'product_id', values = 'prediction').reset_index().fillna(0)
# data['dict'] = data.apply(lambda x : list(x[products1]), axis=1)

In [7]:
data['dict1'] = data.apply(lambda x : {i for i in products_index} )
data.head()

index  order_id  product1  product2 dict1
0          9391  0.216805  0.000000   NaN
1         56157  0.000000  0.011217   NaN
2         65432  0.035937  0.029615   NaN
3         84768  0.000000  0.367895   NaN
4        108251  0.000000  0.016184   NaN

In [9]:
data.head()

index  order_id  product1  product2                  dict
0          9391  0.216805  0.000000  [product1, product2]
1         56157  0.000000  0.011217  [product1, product2]
2         65432  0.035937  0.029615  [product1, product2]
3         84768  0.000000  0.367895  [product1, product2]
4        108251  0.000000  0.016184  [product1, product2]